{
line-height: normal;
}

.material-icons {
    font-size: inherit;
}

#nav-title{
    margin-left: 50px;
}
#facebook_icon, #google_icon{
    margin-top: -20px;
}

#section-home .carousel-item{
    opacity: 0.8 !important;
}

#section-portfolio .carousel .carousel-item {
    width:      400px !important;
}

#section-contato{
    background: url("../static/bg/bg_person.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#contato label{
    font-size: 20px;
}
#contato blockquote{
    font-size: 26px;
    font-weight: bolder;
}
#section-portfolio{
    background: rgba(10,10,10,0.9);
}
#section-clientes{
    margin-top: -20px;
    padding-top: 20px;
    background: url("../static/bg/dot.png");
}

#section-clientes .card-image img{
    height: 100px !important;
}
#section-servico{
    margin-bottom: -20px !important;
}
#section-servico li{
    line-height: 3em;
}
#section-servico li img{
    margin-left: 30%;
}

.text-white{
    color: #fff;
    font-weight: 100;
}

.card-image{
    padding: 5px;
}

footer{
    margin-top: -15px;
    margin-bottom: -40px;
}

footer div{
    margin-bottom: 0 !important;
}