.font0 {
    font: normal normal normal 34px/1.4em lulo-clean-w01-one-bold,sans-serif ;
    color:#116089;
}
.font1 {
    font: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ;
    color:#666666;
}
.font2 {
    font: normal normal normal 70px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif ;
    color:#15BBE3;
}
.font3 {
    font: normal normal normal 60px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif ;
    color:#666666;
}
.font4 {
    font: normal normal normal 40px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif ;
    color:#666666;
}
.font5 {
    font: normal normal normal 30px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif ;
    color:#666666;
}
.font6 {
    font: normal normal normal 24px/1.4em 'open sans',sans-serif ;
    color:#333333;
}
.font7 {
    font: normal normal normal 17px/1.4em 'open sans',sans-serif ;
    color:#666666;
}
.font8 {
    font: normal normal normal 15px/1.4em 'open sans',sans-serif ;
    color:#666666;
}
.font9 {
    font: normal normal normal 13px/1.4em 'open sans',sans-serif ;
    color:#666666;
}
.font10 {
    font: normal normal normal 10px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ;
    color:#666666;
}